* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    background-color: white;
}

h2 {
    font-size: 5rem;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin-left: 5rem;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%) scale(6);
}

.first-page {
    height: 100vh;
    background-color: rgba(21,21,21);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home {
    height: 100vh;
}

.first-page img {
    height: 100%;
}

.square {
    width: 10rem;
    height: 10rem;
    background: rgb(52,140,199);
    position: absolute;
    left: 70%;
    top: 70%;
}